/* Web Fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Universal Selectors ------------ */
* {
    box-sizing: border-box;
}

/* Class Selectors -------------- */
.main-header {
    height: 750px;
    background:
                linear-gradient(-190deg, #51cac8, transparent 40%),
                linear-gradient(0deg, #eae2db, transparent 40%),
                url("../img/main-header-photo-beach.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.main-header,
.subtitle,
.tips,
.offer,
.contact,
.main-footer {
    text-align: center;
}

.subtitle {
    padding-top: 30px;
    font-size: 3rem;
    font-family: "Teko";
    font-weight: 300;
    font-style: italic;
}

.navigation {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #02515E;
    text-align: center;
}

.nav-bar li {
    display: inline-block;
    padding: 5px 0px;
    margin: 0px 70px;
}

.nav-bar li a {
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 1.1rem;
    font-weight: 600;
    color: #f39921;
}

.nav-bar li a:hover {
    color: #3FAFB0;
}

.hamburger-icon {
    position: fixed;
    top: 40px;
    right: 50px;
    z-index: 1;
    height: 45px;
    width: 45px;
    background-image: url("../img/menu.png");
    background-repeat: no-repeat;
}

.main-footer {
    font-family: "Montserrat";
    background-color:  #02515E;
    color: #f39921;
}

.main-footer a {
    text-decoration: none;
    color:  #f39921;
}

.main-footer a:hover {
    color:  #3FAFB0;
}

.certificate {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}

@media (min-width: 1920px) {
    .certificate {
        padding-bottom: 120px;
    }
}

.register,
.phone-num,
.address {
    font-size: 1.5rem;
}

.adress-list {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    line-height: 2rem;
}

.tips {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.container {
    width: 100%;
}

.container-tips {
    background-image: url("../img/shield-background.png");
    background-size: contain;
}

.offer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-offer {
    background-image: url("../img/syringe-background.png");
    background-size: contain;
}

.table-prices {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1rem;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.vax-price {
    text-align: center;
}

.container-contact {
    padding-top: 50px;
}

.container-certificate {
    display: none;
    padding-bottom: 80px;
}

.img-certificate {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.certificate-link {
    text-decoration: underline;
    color: #02515E;
    cursor: pointer;
}

.container-images {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.images {
    height: 100%;
    width: 25%;
    float: left;
    background-size: cover;
}

@media (min-width: 1600px) {
    .images {
        height: 100%;
    }
    .container-images {
        height: 250px;
    }
}

.container-images .images:nth-child(1) {
    background-image: url("../img/austria-lake-photo.jpg");
}

.container-images .images:nth-child(2) {
    background-image: url("../img/italy-sea-photo.jpg");
}

.container-images .images:nth-child(3) {
    background-image: url("../img/bali-palmtree-photo.jpg");
}

.container-images .images:nth-child(4) {
    background-image: url("../img/usa-nortshore-photo.jpg");
}

.top-photo {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tips-top-photo {
    background-image: url("../img/house-on-lake-photo.jpg");
    background-position: right;
}

.vaccination-top-photo {
    background-image: url("../img/sunset-palmtrees-photo.jpg");
}

.offer-top-photo {
    background-image: url("../img/african-road-photo.jpg");
}

.subpage-section-title {
    text-align: center;
    font-size: 3rem;
    font-family: "Teko";
    font-weight: 300;
    color: #02515E;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    letter-spacing: 0.1rem;
    margin: 32px;
}

.table-title {
    text-align: center;
    font-size: 3rem;
    font-family: "Teko";
    font-weight: 300;
    color: #02515E;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    letter-spacing: 0.1rem;
    margin: 32px;
}

.table-title-caption {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

.continent-icon {
    display: inline-block;
    height: 128px;
    width: 128px;
    margin: 0px 30px;
}

.europe-icon {
    background-image: url("../img/europe.png");
}

.europe-icon:hover {
    background-image: url("../img/europe-hover.png");
}

.africa-icon {
    background-image: url("../img/africa.png");
}

.africa-icon:hover {
    background-image: url("../img/africa-hover.png");
}

.asia-icon {
    background-image: url("../img/asia.png");
}

.asia-icon:hover {
    background-image: url("../img/asia-hover.png");
}

.australia-icon {
    background-image: url("../img/australia.png");
}

.australia-icon:hover {
    background-image: url("../img/australia-hover.png");
}

.south-america-icon {
    background-image: url("../img/south-america.png");
}

.south-america-icon:hover {
    background-image: url("../img/south-america-hover.png");
}

.north-america-icon {
    background-image: url("../img/north-america.png");
}

.north-america-icon:hover {
    background-image: url("../img/north-america-hover.png");
}

/* Menu button style and animation */

.btn {
    position: fixed;
    top: 9%;
    left: 95%;
    transform: translate(-50%, -50%);
    width: 45px;
    cursor: pointer;
}

.btn span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    height: 6px;
    background: #f39921;
    transition: all .3s;
    position: relative;
    float: left;
}

.btn span:nth-child(2) {
    width: 75%;
    float: right;
}

span + span {
    margin-top: 7px;
}

.active span:nth-child(1) {
    animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

@keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 16px;
      transform: rotate(0);
    }
    100% {
      top: 16px;
      transform: rotate(45deg);
    }
}

  @keyframes top-2 {
    0% {
      top: 14px;
      transform: rotate(45deg);
    }
    50% {
      top: 14px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }

  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 10px;
      transform: rotate(0);
    }
    100% {
      bottom: 10px;
      transform: rotate(135deg);
    }
  }

  @keyframes bottom-2 {
    0% {
      bottom: 10px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 10px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }

  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @media (min-width: 1920px) {
      .btn {
          top: 7%;
      }
  }

  @media (min-width: 1600px) {
      .btn {
          top: 7,5%;
      }
  }

  @media (max-width: 768px) {
      .btn {
          top: 6%;
      }
  }

  @media (max-width: 1440px) {
    .btn {
        top: 7%;
    }
}

/* End of menu button style and animation */

.tiles-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cube {
    width: 128px;
    height: 128px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-64px);
    transition: transform 0.7s;
    cursor: pointer;
}

.cube.show-front  { transform: translateZ(-64px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-64px) rotateY( -90deg); }

.cube-face {
    position: absolute;
    width: 128px;
    height: 128px;
    background-color:  #eae2db;
    border: 2px solid #02515E;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube:nth-child(1) .cube-face-right:nth-child(2) {
    background-image: url("../img/europe-hover.png");
}

.cube:nth-child(2) .cube-face-right:nth-child(2) {
    background-image: url("../img/africa-hover.png");
}

.cube:nth-child(3) .cube-face-right:nth-child(2) {
    background-image: url("../img/asia-hover.png");
}

.cube:nth-child(4) .cube-face-right:nth-child(2) {
    background-image: url("../img/north-america-hover.png");
}

.cube:nth-child(5) .cube-face-right:nth-child(2) {
    background-image: url("../img/south-america-hover.png");
}

.cube:nth-child(6) .cube-face-right:nth-child(2) {
    background-image: url("../img/australia-hover.png");
}

.cube-face-front  { transform: rotateY(  0deg) translateZ(64px); }
.cube-face-right  { transform: rotateY( 90deg) translateZ(64px); }

.country {
    font-family: 'Teko';
    font-size: 30px;
    text-align: center;
    color: #02515E;
    line-height: 30px;
    cursor: pointer;
}

/* ID Selectors -------------- */
/* Type Selectors -------------- */

body {
    background-color: #eae2db;
    margin: 0;
}

h1 {
    font-size: 10rem;
    font-family: "Teko";
    font-weight: 600;
    letter-spacing: 0.8rem;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 0;;
    right: 0;
    color: #02515E;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.8);
}

h2 {
    font-size: 3.5rem;
    font-family: "Teko";
    margin: 0;
    color: #02515E;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    letter-spacing: 0.2rem;
}

p {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

th,
td {
    height: 1.5rem;
    padding: 12px;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 2px solid #02515E;
}

th {
    font-size: 1.25rem;
}
