/* Web Fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

/* Universal Selectors ------------ */
* {
    box-sizing: border-box;
}

/* Class Selectors -------------- */
.main-header {
    padding-top: 20px;
    height: 750px;
    background: 
                linear-gradient(-190deg, #51cac8, transparent 40%),
                linear-gradient(10deg, #bb967b, transparent 40%),
                url("../img/main-header-photo-beach.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
}

.main-header,
.subtitle,
.tips,
.offer,
.contact,
.main-footer {
    text-align: center;}

/* ID Selectors -------------- */
/* Type Selectors -------------- */

body {
    margin: 0;
}

h1 {
    font-size: 10rem;
    font-family: "Teko";
    font-weight: 600;
    letter-spacing: 0.8rem;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;;
    right: 0;
}

 .subtitle {
    font-size: 3rem;
    font-family: "Teko";
    font-weight: 300;
    font-style: italic;
}

.nav-bar
li {
    list-style-type: none;
    display: inline-block;
}

