/* Web Fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Universal Selectors ------------ */
* {
    box-sizing: border-box;
}

/* Class Selectors -------------- */
.main-header {
    padding-top: 20px;
    height: 750px;
    background: 
                linear-gradient(-190deg, #51cac8, transparent 40%),
                linear-gradient(0deg, #eae2db, transparent 40%),
                url("../img/main-header-photo-beach.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.main-header,
.subtitle,
.tips,
.offer,
.contact,
.main-footer {
    text-align: center;
}

.subtitle {
    font-size: 3rem;
    font-family: "Teko";
    font-weight: 300;
    font-style: italic;
}

.nav-bar
li {
    list-style-type: none;
}

.main-footer {
    font-family: "Montserrat";
    border-top: solid 1.5px #02515E;
}

.certyficate {
    margin-top: 0;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 130px;
}

.register,
.phone-num,
.address {
    font-size: 1.5rem;
}

.adress-list {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    line-height: 2rem;
}

.tips {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
    

.container {
    width: 100%;
}

.container-tips {
    background-image: url("../img/shield-background.png");
    background-size: contain;
}

.offer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-offer {
    background-image: url("../img/syringe-background.png");
    background-size: contain;
}

.container-table {
    display: none;
    padding-top: 16px;
    padding-bottom: 50px;
}

.table-prices {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1rem;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.vax-price {
    text-align: center;
}

.container-contact {
    /* padding-top: 50px; */
}

.button-prices {
    font-family: "Montserrat";
    font-weight: 600;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding:0.35em 1.2em;
    border:0.1em solid #02515E;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color:#02515E;
    text-align:center;
    transition: all 0.2s;
    background-color: #eae2db;
}

.button-prices:hover {
    color:#eae2db;
    background-color:#02515E;
}

.button-prices:focus {
    outline: 0;
}

/* ID Selectors -------------- */
/* Type Selectors -------------- */

body {
    background-color: #eae2db;
    margin: 0;
}

h1 {
    font-size: 10rem;
    font-family: "Teko";
    font-weight: 600;
    letter-spacing: 0.8rem;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;;
    right: 0;
    color: #02515E;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.8);
}

h2 {
    font-size: 3.5rem;
    font-family: "Teko";
    margin: 0;
    color: #02515E;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    letter-spacing: 0.2rem;
}

p {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 600;
}

th, 
td {
    height: 1.5rem;
    padding: 12px;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 2px solid #02515E;
}

th {
    font-size: 1.25rem;
}


